*{
  /* outline: 1px solid red; */
  scroll-behavior: smooth;
  font-family: 'Familjen Grotesk';
}

body{
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  width: .5rem;
}

body::-webkit-scrollbar-track{
  background: #110f14;
}

body::-webkit-scrollbar-thumb{
  background: #00AB44;
}

/* Nav Bar */
.navbar{
  top: -3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 4%;
  /* transition: all 0.3s ease 0s; */
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);
}

.navbar-fixed{
  position: fixed;
  top: -1px;
  left: 0;
  background: #110f14da;
  color: #FFFFFF !important;
  backdrop-filter: blur(29px);
  width: 100vw;
}

.navbar-fixed .toggle-button .bar1, .navbar-fixed .toggle-button .bar2{
  background-color: #FFFFFF;
}

.logo{
  cursor: pointer;
  width: 111px;
}

.nav-link{
  /* transition: all 0.3s ease 0s; */
  padding: 0;
}

.nav-item, .nav-item > a{
  list-style: none;
  font-size: 18px;
  opacity: 100%;
  /* transition: all 0.01s ease 0s; */
}

.nav-item > a:hover{
  opacity: 80%;
  text-decoration: none;
}

.nav-item{
  display: inline-block;
  padding: 0px 16px ;
}

.button{
  font-size: 20px;
  padding: 14px 24px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.button:hover{
  opacity: 90%;
  /* filter: drop-shadow(0 0 8px #00ab4428); */
}

.cta >button{
  font-size: 16px;
  cursor: pointer;
  padding: 12px 16px;
  margin-left: 16px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease 0s;
}

.cta:hover{
  opacity: 90%;
}

.toggle-button{
  position: absolute;
  top: 2.0rem;
  right: 1.45rem;
  display: none;
  flex-direction: column;
  width: 24px;
  height: 14px;
  align-items: center;
}

.toggle-button .bar1, .toggle-button .bar2, .toggle-button .bar3{
  height: 1.5px;
  width: 100%;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}

.bar2{
  transform: translateY(5px);
}

.bar3{
  transform: translateY(10px);
}

.open .bar1{
  transform: rotate(45deg) translateY(8px) translate(6px);
}

.open .bar2{
  transform: rotate(-45deg) translateY(0px) translate(-4px);
}

.simple{
  background-image: url(./assets/service-bg.svg);
}

.card{
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.grow-big:hover{
  transition: all 0.2s ease 0s;
}

.cta{
  background-image: url(./assets/cta-bg.svg);
}

.footer-text:hover{
  opacity: 80%;
  transition: all 0.2s ease 0s;
}

/* Animation */
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

@media (max-width: 1024px) {
  .toggle-button{
      display: flex;
      justify-content: space-around;
      top: 1.8rem;
  }

  .toggle-button.open{
      height: 14px;
  }

  .nav-link, .cta-button{
      display: none;
      margin-top: 10px;
  }

  .cta > button{
      padding-left: 0;
      padding-top: 18px;
      padding-bottom: 14px;
      margin-left: 0;
      opacity: 60%;
  }

  .cta-button{
      flex-direction: column;
  }

  .navbar{
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 24px 4%;
  }

  .nav-link > ul{
      display: flex;
      flex-direction: column;
  }

  .nav-item{
      padding-top: 18px;
      padding-bottom: 14px;
      padding-left: 0;
  }

  .nav-link.active{
      display: flex;
      margin-top: 10px;
  }

  .cta-button.active{
      display: flex;
  }

  .navbar.active{
    /* position: sticky;
    right: 0;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    height: 100vh;
    z-index: 1000; */
      position: sticky;
      z-index: 1000;
      height: 100vh;
      background-color: #FFFFFF;
  }

  .button-text-only{
      padding-left: 0;
      margin-top: -10px;
      margin-bottom: 10px;
  }
}